*.log
*.tsv
*.pot
*.pyc
local_settings.py
*.py~
*~
.DS_Store
configuration.inc
.vagrant/*
scripts/energy_score_summary-temp.csv
content/templates/home.html.orig*
content/templates/share.html.orig*
rentrocket/settings.py
geopy.orig
geopy_full
/google_appengine/
