<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading panel-det  text-center"><strong>Amenities</strong></div>

<!-- Table -->
<table class="table">
<tbody><tr>
    <td><strong>A/C</strong></td>
    <td style="width: 75%;">{% if building.air_conditioning %}Yes{% else %}No{% endif %}</td>
</tr>
<tr>
    <td><strong>Laundry</strong></td>
    <td>{% if building.laundry %}<span class="badge ">{{building.laundry}}</span>{% endif %}</td>
</tr>
<tr>
    <td><strong>Parking</strong></td>
    <td>{% include "list_of_items.html" with options=building.parking_options %}</td>
</tr>
</tbody></table>
</div>
