{% extends "layout.html" %}

{% block title %}Create New Building{% endblock %}


{% block content %}

<div class="page">

<h2>Create New Building</h2> 

<p>{{ results|safe }}</p>

<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% include "building-new-form.html" with form=bldgform%}
  
  {% if bldgform.unit_select_visible %}
  {% include "building-new-unit_select.html" with form=unitform%}
  {% endif %}


  {# { form.as_p } #}
    
  <div class="section">
    <input type="submit" value="Save" />
  </div>

</form>

{% endblock %} {# content #}
    
{% block require %}
{% endblock %} {# require #}

{% block script %}
<script type="text/javascript" src="/static/js/lib/jquery.autocomplete.js"></script>

<script type="text/javascript">
  
  $('#id_building-address').autocomplete({
    serviceUrl: '/building/search/',
    minChars: 4,
    onSelect: function(suggestion) {
      //console.log("chose: ", suggestion.data);
      //window.location.href = '/building/' + suggestion.data + '/' + city_tag ;
    }
  });
  
</script>

{% endblock %}
