{% comment %}
this is the version that shows up on utility data upload templates
see also building_overlay.html
for version that shows up on map
{% endcomment %}

<div class="building">
  <a class="big-link" href="{{ building.url }}">
    <div class="block">
      <div id="street_view">
	<img src="http://maps.googleapis.com/maps/api/streetview?size=300x300&location={{ building.address|urlencode }},{{ building.city.name }},{{ building.state }}&sensor=false" width="150">
      </div>
    </div>

    <div class="half">
      <div class="address">d{{ building.address }}</div>
      
      {% if building.name %}
      <div class="name">{{ building.name }}</div>
      {% endif %}
    
      {% if unit %}
      <div class="unit">{{ unit.number }}</div>
      {% endif %}
      
    </div>


    
  </a>
</div>
