{% extends "layout.html" %}

{% block title %}{{ building.address }} {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/css/building.css" type="text/css" media="screen" />
{% endblock %}



{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="leftcolumn">

  {% if selected_unit %}    
  <h2 id="address">{{ selected_unit.full_address }}</h2> 
  {% else %}
  <h2 id="address">{{ building.address }}</h2> 
  {% endif %}

  <div class="edit">
    {% if user.is_authenticated %}
    <a href="/building/{{ building.tag }}/{{ building.city.tag }}/edit/">
    {% else %}
    <a href="/login/?{{ redirect_field }}=/building/{{ building.tag }}/{{ building.city.tag }}/edit/">
    {% endif %}
    <img src="/static/img/edit.png" class="icon"></a>
  </div>
  
  {% if building.name %}
  <h3>{{ building.name }}</h3>
  {% endif %}

  <div class="details">

    {% if not selected_unit %}    

    {% if building.type %}
    <p>Type: {{ building.type }}</p>
    {% endif %}

    {% if building.sqft %}
    <p>Size (sqft):{{ building.sqft }}</p>
    {% endif %}

    {% if units|length != 1 %}
    <p>{{ units|length }} Units</p>
    {% else %}
    <p>{{ units|length }} Unit</p>
    {% endif %}

    {% endif %}

    {% if units|length == 1 %}
    {% include "unit_snippet.html" with unit=building.units.all|first %}
    {% endif %}

  </div>

  <div class="details">
    <h4>Costs</h4>

    {% if building.max_rent_listing and building.min_rent_listing %}
    <p>Rent range: {{ building.min_rent_listing }} - {{ building.max_rent_listing }}</p>
    {% elif building.max_rent_listing %}
    <p>Rent: {{ building.max_rent_listing }}</p>
    {% elif building.min_rent_listing %}
    <p>Rent: {{ building.min_rent_listing }}</p>
    {% endif %}


    {% if building.max_rent and building.min_rent %}
    <p>Previous rent range: {{ building.min_rent }} - {{ building.max_rent }}</p>
    {% elif building.max_rent %}
    <p>Previous rent: {{ building.max_rent }}</p>
    {% elif building.min_rent %}
    <p>Previous rent: {{ building.min_rent }}</p>
    {% endif %}

    
    {% if building. %}
    <p>{{ building. }}</p>
    {% endif %}

    {% if building. %}
    <p>{{ building. }}</p>
    {% endif %}



  </div>

  <div class="details">
    <h4>Smart Living Features</h4>

  </div>

  <div class="details">
    <h4>Amenities</h4>

    {% if building.laundry %}
    <p>Laundry: {{ building.laundry }}</p>
    {% endif %}

    {% if building.parking_options and building.parking_options|first%}
    <div class="parking">
      Parking: 
      {% for option in building.parking_options %}
      <span>{{ option }}; </span>
      {% endfor %}
    </div>
    {% endif %}

  </div>

</div>

<div class="rightcolumn">

  <div id="image_box">
    <ul id="image_nav">
      <li class="image_nav_li" data-bind="click: view_street_view"><a class="image_nav_link" href="#">street view</a></li>
      <li class="image_nav_li" data-bind="click: view_map"><a class="image_nav_link" href="#">map</a></li>
      <li class="image_nav_li" data-bind="click: view_photos"><a class="image_nav_link" href="#">photos</a></li>
    </ul>

    <div id="street_view" data-bind="if: viewing() === 'street_view'">
      <img src="http://maps.googleapis.com/maps/api/streetview?size=300x300&location={{ building.address|urlencode }},{{ building.city.name }},{{ building.state }}&sensor=false">
    </div>
    <div id="street_view" data-bind="if: viewing() === 'map'">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center={{building.latitude}},{{building.longitude}}&zoom=15&size=300x300&markers={{building.latitude}},{{building.longitude}}&sensor=false">
    </div>
    <div id="street_view" data-bind="if: viewing() === 'photos'">
      <img src="/static/img/no-available-image.png" width="300" height="300">
    </div>

  </div>

  <div class="details">
    <h4>Contact Info</h4>
    {% if building.website %}
    <p><a href="{{ building.website }}" target="_blank">{{ building.website }}</a></p>
    {% endif %}

    {% for bperson in building.people.all %}
    <div class="person">
      <div><span class="relation">{{ bperson.relation }}:</span> <span class="person_name">{{ bperson.person.name }}</span></div>
      <div><span class="address">{{ bperson.person.address }}</span>
	{% if bperson.person.city %}
	, <span>{{ bperson.person.city.name }}</span>
	{% endif %}
      </div>
    </div>
    {% endfor %}

  </div>

  
</div>

<div class="leftcolumn">
</div>

<div class="rightcolumn">

</div>

<div class="leftcolumn">

{% if building. %}
<p>{{ building. }}</p>
{% endif %}

</div>

<div class="rightcolumn">
</div>


{% if units|length != 1 %}
<div class="onecolumn">
  <div class="details">
    <h4>Units</h4>

    
      {% for unit in units %}
      <div class="{% cycle 'leftcolumn' 'rightcolumn' %}">
	<h4 class="unit_number">{{ unit.unit_address }}</h4> 
	<div class="edit">
	  {% if user.is_authenticated %}
	  <a href="{% url 'building.views.unit_edit' city_tag=building.city.tag bldg_tag=building.tag unit_tag=unit.tag|urlencode %}">
	  {% else %}
	  <a href="/login/?{{ redirect_field }}={% url 'building.views.unit_edit' city_tag=building.city.tag bldg_tag=building.tag unit_tag=unit.tag %}">
	  {% endif %}
	  <img src="/static/img/edit.png" class="icon"></a>
	</div>
	

	{% include "unit_snippet.html" with unit=unit %}
      </div>
      {% endfor %}
	
    <div class="clear"></div>

  </div>
</div>
{% endif %}

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
  require(['building'], function(building) {});
</script>
{% endblock %}
