{% extends "layout.html" %}

{% block title %}{{ building.address }} {% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/css/building.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="leftcolumn">

  <h2 id="address">{{ building.address }}</h2> 

  <div class="edit">
    {% if user.is_authenticated %}
    <a href="/building/{{ building.tag }}/{{ building.city.tag }}/edit/">
    {% else %}
    <a href="/login/?{{ redirect_field }}=/building/{{ building.tag }}/{{ building.city.tag }}/edit/">
    {% endif %}
    <img src="/static/img/edit.png" class="icon"></a>
  </div>
  
  {% if building.name %}
  <h3>{{ building.name }}</h3>
  {% endif %}

  <div class="details">

    {% if building.type %}
    <p>Type: {{ building.type }}</p>
    {% endif %}

    {% if building.sqft %}
    <p>Size (sqft): {{ building.sqft }}</p>
    {% endif %}

    {% if units|length != 1 %}
    <p>{{ units|length }} Units</p>
    {% else %}
    <p>
      <div class="num_units">{{ units|length }} Unit</div>
    </p>
    {% endif %}

    {% if units|length == 1 %}
    {% include "unit_snippet.html" with unit=building.units.all|first %}
    {% endif %}

  </div>

  <div class="details">
    <h4>Costs</h4>

    {% include "building_rents.html" %}

    <div>
      <div>Average monthly costs for:</div>
      {% include "average_cost.html" with average=building.average_electricity name="Electricity" who_pays=building.who_pays_electricity %}
      {% include "average_cost.html" with average=building.average_gas name="Natural Gas" who_pays=building.who_pays_gas %}
      {% include "average_cost.html" with average=building.average_water name="Water" who_pays=building.who_pays_water %}
      {% include "average_cost.html" with average=building.average_trash name="Trash" who_pays=building.who_pays_trash %}
    </div>

    {% include "heat_source.html" %}
    
    {% if building.cost_per_sqft %}
    <p>Energy cost per sqft: ${{ building.cost_per_sqft|floatformat:3 }}</p>
    {% endif %}
    
  </div>

  {% include "amenities.html" %}

</div>

<div class="rightcolumn">

  {% include "image_box.html" %}

  {% include "smart_living.html" %}

  {% include "contacts.html" %}
  
</div>

<div class="leftcolumn">
</div>

<div class="rightcolumn">

</div>

<div class="leftcolumn">

{% if building. %}
<p>{{ building. }}</p>
{% endif %}

</div>

<div class="rightcolumn">
</div>


{% if units|length != 1 %}
<div class="onecolumn">
  <div class="details">
    <h4>Units</h4>

    
      {% for unit in units %}
      <div class="{% cycle 'leftcolumn' 'rightcolumn' %}">
	<h4 class="unit_number">
	  <a href="{% url 'building.views.unit_details' city_tag=building.city.tag bldg_tag=building.tag unit_tag=unit.tag %}">
	    {{ unit.unit_address }}
	</a></h4> 

	{% include "edit_unit.html" with building=building unit=unit %}

	<div class="unit">
	  {% if unit.rent %}
	  Current rent: ${{ unit.rent|floatformat:2 }}<br>
	  {% endif %}


	  {% include "unit_snippet.html" with unit=unit %}
	</div>
	
      </div>
      {% endfor %}
	
    <div class="clear"></div>

  </div>
</div>
{% endif %}

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
  require(['building'], function(building) {});
</script>
{% endblock %}
