{% extends "layout-padded.html" %}

{% block title %}{{ unit.full_address }} {% endblock %}


{% block custom_css %}
    <link rel="stylesheet" href="/static/css/building.css" type="text/css" media="screen" />
{% endblock %}


{% block subcontent %}

<div id="building_details">
  <div class="leftcolumn">

  <h2 id="address">{{ unit.full_address_with_link|safe }}
    {% include "edit_unit.html" with building=building unit=units|first %}
  </h2>
  
  <div class="details">
    <h4>Details</h4>

    {% include "unit_snippet.html" %}

  </div>

  <div class="details">
    <h4>Costs</h4>

    {% if unit.rent %}
    <p>Rent: ${{ unit.rent|floatformat:2 }}</p>
    {% endif %}

    <div>
      <div>Average monthly costs for:</div>
      {% include "average_cost.html" with average=unit.average_electricity name="Electricity" who_pays=building.who_pays_electricity %}
      {% include "average_cost.html" with average=unit.average_gas name="Natural Gas" who_pays=building.who_pays_gas %}
      {% include "average_cost.html" with average=unit.average_water name="Water" who_pays=building.who_pays_water %}
      {% include "average_cost.html" with average=unit.average_trash name="Trash" who_pays=building.who_pays_trash %}
    </div>

    {% include "heat_source.html" %}

    {% if unit.cost_per_sqft %}
    <p>Energy cost per sqft: ${{ unit.cost_per_sqft|floatformat:3 }}</p>
    {% endif %}

  </div>

  {% include "amenities.html" %}

</div>

<div class="rightcolumn">

  {% include "image_box.html" %}

  {% include "smart_living.html" %}

  {% include "contacts.html" %}
  
</div>

</div>

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript" src="/static/js/lib/knockout-2.2.1.js"></script>
<script type="text/javascript" src="/static/js/building.js"></script>
{% endblock %}
