{% extends "layout-padded.html" %}

{% block title %}{{ unit.full_address }}: Edit Details{% endblock %}


{% block subcontent %}

<div class="page">

<h2>{{ unit.full_address }}</h2> 

<p>{{ results|safe }}</p>

<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% include "form_template.html" %}
    
  <div class="col-sm-offset-3 col-sm-9">
    <button type="submit" class="btn btn-success">Save</button>
  </div>

</form>

</div>

{% endblock %} {# content #}
    
{% block script %}
{% endblock %}
