{% if unit.bedrooms %}
Bedrooms: {{ unit.bedrooms }}<br>
{% endif %}

{% if unit.bathrooms %}
Bathrooms: {{ unit.bathrooms }}<br>
{% endif %}

{% if unit.sqft %}
Square Feet: {{ unit.sqft }}<br>
{% endif %}

{% if unit.floor %}
Floor Number: {{ unit.floor }}<br>
{% endif %}

{% if unit.max_occupants %}
Maximum Occupants: {{ unit.max_occupants }}<br>
{% endif %}


<ul class="actions section">
  
  <li class="action">
    {% if unit.tag %}
    <form class="button_link" action="{% url 'utility.views.upload_simple' city_tag=building.city.tag bldg_tag=building.tag unit_tag=unit.tag %}">
    {% else %}
    <form class="button_link" action="{% url 'utility.views.upload_simple' city_tag=building.city.tag bldg_tag=building.tag %}">
    {% endif %}
      <button class="btn btn-success" type="submit"><img src="/static/img/up.png" class="icon" /> Upload Utility Data
      </button>
    </form>
  </li>

  <!--
  <li class="action">
    {% if unit.tag %}
    <form class="button_link" action="{% url 'utility.views.edit' city_tag=building.city.tag bldg_tag=building.tag unit_tag=unit.tag %}">
    {% else %}
    <form class="button_link" action="{% url 'utility.views.edit' city_tag=building.city.tag bldg_tag=building.tag %}">
    {% endif %}
      <button type="submit"><img src="/static/img/edit.png" class="icon" /> Edit Utility Data
      </button>
    </form>
  </li>
  -->
  
</ul>


