@import 'grid.less';
@import 'globals.less';
@import 'colors.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


#building_details {
    display: inline-block;
    width: 100%;    
}

.edit {
    display: inline-block;
    margin: 0px;
    margin-left: .5em;
    padding: 0px;
    vertical-align: middle;    
}

#image_nav {
    float: left;
    list-style-type: none;
    margin-right: .5em;
    padding-left: 0;
    .rounded(@radius);
    .bordered(@bordercolor, @bordercolor, @bordercolor, @bordercolor);
    background-color: @lightgrey;

}

.image_nav_link {
    text-decoration: none;
    color: @brown;
}

.image_nav_li {
    padding: .5em;
    /*
    //border-width: 1px;
    border: @grayLight;
    //border-style: solid;
    border-collapse: collapse;
    background-color: @grayLighter;
    */
}


ul.actions { 
    margin-top: .5em;
    margin-bottom: 0em;
    //display: inline-block;
    padding: 0px;
}

li.action { 
    display: inline-block;
}

.icon {
    //padding-top: 2px;
    width: 18px;
    heigh: 18px;
    vertical-align: text-top;
    margin-right: 4px;    
}

.details {
    .roundedbox();
}

#image_box{
    .padded();
}

.relation {
    font-weight: bold;
}

.person {
    margin-bottom: .5em;
}

#address {
    display: inline-block;
    margin: 0px;
    margin-top: .75em;
    padding: 0px;
}

#address a {
    .links();
}

.unit_number a {
    .links();
}

.unit_number {
    display: inline-block;
    margin: 0px;
    //margin-top: .75em;
    padding: 0px;
}

.data {
}

.num_units {
    display: inline-block;
}

.who_pays {
    width: 35%;
    display: inline-block;
}

.average {
    width: 55%;
    display: inline-block;
}

.block {
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
}    

.centered {
    clear: both;
    text-align: center;
    width: 100%;
}

.clear {
    clear: both;    
}

.threecolumn {
    .column(4);
}

// main column & sidebar
.leftcolumn {
    .column(6);
}
.rightcolumn {
    .column(6);
}
.onecolumn {
    .column(12);
}

@media screen and (max-width: 720px) {
    .leftcolumn,
    .rightcolumn,
    .nav-item {
	//margin-bottom: 1em;
	width: 100%;
	.column(12);
    }

}