@import 'globals.less';
@import 'colors.less';
@import 'autocomplete.less';

//see responsive.less for map-canvas

html, body {
    height: 100%;
    margin: 0px;
}

.nav-adjust{ 
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#map-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#legend {
    margin-right: 5px;
    text-align: right;
    background: @lightgrey;
    .roundedbox();
}

#map-search {
    margin-left: 5px;
    //margin-bottom: 5px;
    //text-align: right;
    background: @lightgrey;
    .roundedbox();
}

.map-title {
    font-weight: bold;
    font-size: 1.4em;
}

.description {
    vertical-align: bottom;
    width: 10px;
    margin-right: 3px;
    display: inline-table;
}

.icon {
    height: 40px;
    width: 23px;
}

.half {
    //width: 100px;
    display: inline-block;
    vertical-align: top;
}

.address {
    //width: px;
    margin: 0px;
    //margin-top: .75em;
    padding: 0px;
}

.address a {
    .links();
}

.building a {
    .links();
}

.building {
    min-width: 200px;
}

.data {
}


