@import 'normalize.less';
@import 'grid.less';
@import 'colors.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

html {
     height: 100%;
}

body {
     height: 100%;
     background-color: @background;
}

// header
header {
    width: 100%;
    text-align: center;
    background-color: @header;
}
header .logo {
//  color: @header;
}
header p.logo {
    color: #002b36;
    text-decoration: none;
}
header a.home_link {
    text-decoration: none;
}
header img {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0;
}
header#top {
    margin-bottom: 1em;
}

footer {
    text-align: center;
    .column(12);
}


#content {
     height: 100%;
}



// main column & sidebar
#maincolumn {
    .column(9);
}
#sidebar {
    .column(3);
}

@media screen and (max-width: 720px) {
    #maincolumn,
    #sidebar {
	.column(12);
	margin-bottom: 1em;
    }
}