@import 'normalize.less';
@import 'grid.less';
@import 'colors.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

html {
     height: 100%;
}

body {
     height: 100%;
     background-color: @background;
}

// header
header {
    width: 100%;
    text-align: center;
    background-color: @header;
}
header .logo {
//  color: @header;
}
header p.logo {
    color: #002b36;
    text-decoration: none;
}
header a.home_link {
    text-decoration: none;
}
header img {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0;
}
header#top {
    //margin-bottom: 1em;
}

.nav {
    display: inline-block;
}

.inset {
    width: 200px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.inset .header {
    margin-bottom: 10px;
}

.remember-forgot-section {
    width: 94%;
    text-align: left;
    margin: 8px auto;
    font-size: 10px;
}

.forgot {
    float: right;
    margin-top: 2px;
}

.account_info {
    width: 80%
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.email_box {
    width: 400px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}


a:link	{
	padding: 0px 0px; 
	margin:0; 
	}

a:visited {
	padding: 0px 0px; 
	margin:0; 
	}

/*Style for the nav menu */
.nav-item {
	/*
	position: relative;
	margin: -18px 0 10px auto;
	width: 750px;
	*/
	//line-height: 2em;
	}
	
.nav-item ul { 
} 

a.nav-link:link, a.nav-link:visited	{
	text-decoration: none;
	font-size: 20px;
	color: @header;
	/*
a, 	  display:block; 
	  background: #EFE9ED;*/
	}

.nav-item {
    float: left;
    text-align: center; 
    list-style: none; 
    padding-right: 14px; 
    padding-left: 14px; 
    padding-bottom: 15px;

}


li.nav-item:hover	{
    //background: #EFE9ED;
    text-decoration: none;
}


.footnote {
    margin-top: 15px;
}

footer {
    text-align: center;
    .column(12);
}


#content {
    //height: 100%;
    clear: both;
}

.page {
    margin: 30px;
    clear: both;
}

.centered {
    text-align: center;
    width: 100%;
}


// main column & sidebar
#leftcolumn {
    .column(6);
}
#rightcolumn {
    .column(6);
}

@media screen and (max-width: 720px) {
    #maincolumn,
    .nav-item {
	//margin-bottom: 1em;
	width: 100%;
    }
    
    .nav-item {
	float: none;
    }
    
}