@import 'normalize.less';
@import 'grid.less';
@import 'colors.less';
@import 'globals.less';

//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 60;
@gutter-width: 20;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


////////////
// LAYOUT //
////////////

html {
     height: 100%;
}

body {
     height: 100%;
     background-color: @background;
     color: @brown;
}

h2 {
    margin-top: .83em;
    margin-bottom: .83em;
}

h4 {
    margin-top: 0;
    margin-bottom: .83em;
}

// header
header {
    width: 100%;
    text-align: center;
    background-color: @header;
}
header .logo {
//  color: @header;
}
header p.logo {
    color: #002b36;
    text-decoration: none;
}
header a.home_link {
    text-decoration: none;
}
header img {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 0;
}
header#top {
    //margin-bottom: 1em;
}

#nav-wrap {
    width: 100%;
    text-align: center;
    background-color: @lightgrey;
    display: inline-block;
}

.nav {
    display: inline-block;
    margin: 0px;
    margin-top: .5em;
    margin-bottom: 0em;
    padding: 0px;
}

#about {
    .links();
}
a.nav-link:link, a.nav-link:visited	{
    .links();
    font-size: 1.2em;
    //font-weight: bold;
/*
  a, 	  display:block; 
  background: #EFE9ED;*/
}

/*Style for the nav menu */
.nav-item {
    float: left;
    text-align: center; 
    list-style: none; 
    padding-right: 14px; 
    padding-left: 14px; 
    //padding-bottom: 15px;

}

li.nav-item:hover	{
    //background: @brown;
    text-decoration: none;
}

#content {
    //height: 100%;
    clear: both;
}

//aka footer
.contentinfo {
    margin-top: 5px;
}

.page {
    margin: .5em;
    clear: both;
}

#map-canvas {
    width: 100%;
    height: 80%;
}

.inset {
    width: 200px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.inset .header {
    margin-bottom: 10px;
}

.remember-forgot-section {
    width: 94%;
    text-align: left;
    margin: 8px auto;
    font-size: 10px;
}

.forgot {
    float: right;
    margin-top: 2px;
}

.account_info {
    width: 80%
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.email_box {
    width: 400px;
    padding: 30px;
    background: rgba(255,255,255,.65);
    box-shadow: 2px 2px 8px rgba(0,0,0,.7);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}


.footnote {
    margin-top: 15px;
}

footer {
    text-align: center;
    .column(12);
}

.centered {
    clear: both;
    text-align: center;
    width: 100%;
}

.block {
    margin: 10px;
}

.edit {
    display: inline-block;
    margin: 0px;
    margin-left: .5em;
    padding: 0px;
}

.row {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.messages {
    list-style: none; 
}

.info {
    color: @red;
}

.clear {
    clear: both;    
}

// main column & sidebar
.leftcolumn {
    .column(6);
}
.rightcolumn {
    .column(6);
}

.onecolumn {
    .column(12);
}

@media screen and (max-width: 720px) {
    .leftcolumn,
    .rightcolumn,
    .nav-item {
	//margin-bottom: 1em;
	width: 100%;
	.column(12);
    }
    
    #map-canvas {
	width: 100%;
	height: 76%;
    }

    .nav-item {
	float: none;
	display: block;
    }
    
    .nav {
	display: block;
    }

}