#legend {
  margin-right: 5px;
  text-align: right;
  background: #b3b4a3;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border-top: solid 1px #4a4435;
  border-left: solid 1px #4a4435;
  border-right: solid 1px #4a4435;
  border-bottom: solid 1px #4a4435;
  background: #eee8d5;
  padding: .5em;
  margin-top: .75em;
}
.description {
  vertical-align: bottom;
  width: 10px;
  margin-right: 3px;
  display: inline-table;
}
.icon {
  height: 40px;
  width: 23px;
}
.half {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.address {
  margin: 0px;
  padding: 0px;
}
.address a {
  text-decoration: none;
  color: #555a3c;
}
.building a {
  text-decoration: none;
  color: #555a3c;
}
