.autocomplete-w1 {
  background: #b3b4a3;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px;
  /* IE6 fix: */
  _background: none;
  _margin: 1px 0 0 0;
}
.autocomplete-suggestions {
  border: 1px solid #999;
  background-color: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  /* IE6 specific: */
  _height: 350px;
  _margin: 0;
  _overflow-x: hidden;
}
.autocomplete .selected {
  background: #F0F0F0;
}
.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete strong {
  font-weight: normal;
  color: #3399FF;
}
#legend {
  margin-right: 5px;
  text-align: right;
  background: #b3b4a3;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border-top: solid 1px #4a4435;
  border-left: solid 1px #4a4435;
  border-right: solid 1px #4a4435;
  border-bottom: solid 1px #4a4435;
  background: #eee8d5;
  padding: .5em;
  margin-top: .75em;
}
#map-search {
  margin-left: 5px;
  background: #b3b4a3;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border-top: solid 1px #4a4435;
  border-left: solid 1px #4a4435;
  border-right: solid 1px #4a4435;
  border-bottom: solid 1px #4a4435;
  background: #eee8d5;
  padding: .5em;
  margin-top: .75em;
}
.map-title {
  font-weight: bold;
  font-size: 1.4em;
}
.description {
  vertical-align: bottom;
  width: 10px;
  margin-right: 3px;
  display: inline-table;
}
.icon {
  height: 40px;
  width: 23px;
}
.half {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.address {
  margin: 0px;
  padding: 0px;
}
.address a {
  text-decoration: none;
  color: #555a3c;
}
.building a {
  text-decoration: none;
  color: #555a3c;
}
