{% extends "layout-padded.html" %}

{% block title %}RentRocket.org: About{% endblock %}

{% block subcontent %}

<div class="page">
<h2>About</h2>

<h4>Welcome to a smarter housing search!</h4>

<p>Unlike ordinary rental search options, RentRocket enables renters to see and compare not just basic amenities but also information like utility costs, accessibility to alternative modes of transit, and recycling options to make rental housing decisions that align with their values and fit their budgets.</p>

<p>If you are a landlord, RentRocket is the place for you to promote the energy saving improvements you have made to your properties and achieve a maximum return on those investments. Come here to brag about everything that makes your properties special, from indoor garages to bike racks.</p>

<h3>Get Involved</h3>

<p>Want to move the search for rentals in a better direction? All the information presented on RentRocket is shared by renters and landlords for renters and landlords. <a href="/share">Share data about your current rental or property</a>.</p>

<p>If you are a property manager with access to information about multiple properties, we have a <a href="/static/rentrocket-bulk_data_template.xls">template</a> you can use to send us your information in bulk.</p>

<p>Excited about data and want to do more? <a href="/crowdsourcing">Read</a> about our data collection efforts and the various ways you can get involved.</p>

<p>Are you a developer? Do you know a developer? Need a project for your local civic hack-a-thon? RentRocket is an open source project. Our code is available on <a href="https://github.com/City-of-Bloomington/green-rental" target="_newtab">GitHub</a>.</p>

<p>We are actively seeking new partners to help take this project to the next level. <a href="/partners">Partner with us!</a></p>

<h3>Special Thanks</h3>

<p>In 2013, 14 cities obtained an <a href="http://usdn.org/public/Innovation.html">Innovation Fund</a> grant from the <a href="http://usdn.org/">Urban Sustainability Network and Global Philanthropy Partnership</a> to create RentRocket.org. The <a href="http://bloomington.in.gov/">City of Bloomington</a>, Indiana is currently leading the project in partnership with the following cities:</p>

<p>Albany (NY), Ann Arbor (MI), Berkeley (CA), Bloomington (IN), Burlington (VT), Columbia (MO), Dearborn (MI), Evanston (IL), Iowa City (IA), Madison (WI), San Antonio (TX)</p>

<p>We’ve also identified four focus cities to spearhead efforts to develop the website.  They are:</p>

<ul>
  <li><a href="/city/bloomington_in">Bloomington, Indiana</a></li>
  <li><a href="/city/columbia_mo">Columbia, Missouri</a></li>
  <li><a href="/city/ann_arbor_mi">Ann Arbor, Michigan</a></li>
  <li><a href="/city/evanston_il">Evanston, Illinois</a></li>
</ul>

{# would class="modal-body" be better? #}
<div class="panel-body">
<img class="img-responsive" src="/static/img/cities.png">
</div>

<p>Many thanks to everyone who has helped make this project a reality!</p>


</div>
{% endblock %} {# content #}

