{% extends "layout-padded.html" %}

{% block title %}RentRocket.org: Crowdsourcing{% endblock %}

{% block subcontent %}
<h2>Crowdsourcing</h2>

<h4>Why?</h4>
<p>Many cities have a rental database that track the rental properties for the city. Utility providers have records of the utility usage at a given address. In an ideal scenario, we'd take those two sources, mix them together, and, <i>Voilà</i>, RentRocket!</p>

<p>In our experience, most utility companies are unable to provide utility data in bulk for rental properties. Customer privacy is a concern. We get that. Maybe that will change in the future, and we are happy to work with any utilities interested in sharing this information. For details, please see our <a href="/partners">partner page</a>.</p>

<p>In the mean time we are moving ahead and collecting this information organically. </p>

<h4>How?</h4>

<p>We've worked hard to make it easy to <a href="/share">share details</a> about rental properties directly via RentRocket.org. <a href="/thankyou">Encourage others to do the same</a>.</p>

<p>To really get things going, here are some techniques we've used to collect information in bulk:</p>

<ul>
  <li>Engage local universities and schools to collect information as a class project.</li>
  <li>Host a data collection party.</li>
  <li>Organize contests.</li>
  <li>Attend housing fairs.</li>
</ul>

<p>Please take these ideas and adapt them to your community. If you can think of any other ideas or suggestions, <a href="/contact">please let us know</a>.

{% endblock %} {# content #}
