{% extends "layout-padded.html" %}

{% block title %}RentRocket.org: Crowdsourcing{% endblock %}

{% block subcontent %}
<h2>Crowdsourcing</h2>

<p>RentRocket makes it easier to find utility and amenity  information about rental properties.  Since not all of this information is available in one place, we need to crowdsource it from landlords and tenants.</p>

<p>We've worked hard to make it easy to <a href="/share">share details</a> about rental properties directly via RentRocket.org.</p>

<p>To really get people excited about RentRocket we’re trying the following strategies to get many people to share their information at once:</p>

<ul>
<li>Engaging student classes and organizations at local universities</li>
<li>Hosting  data collection and data entry parties</li>
<li>Organizing raffles to encourage individuals to share data</li>
<li>Tabling at special programs, housing fairs or community events.</li>
</ul>

<p>Feel free to adapt these ideas to your community. <a href="/contact">Get in touch</a> if you want to get involved  or tell us about the strategies that have worked for you!</p>

{% endblock %} {# content #}
