{% extends "no_nav.html" %}

{% block content %}
    <div class="page">
<h3>Welcome to RentRocket.org.  </h3>

<p>Our goal is to help you consider the full cost of housing when you make rental housing decisions – that includes utility costs and transportation costs.  </p>

<p>Our data comes from a combination of sources:  partner cities, property managers, and renters like you who shared data on their homes.</p>

<p>RentRocket.org is the result of a partnership of 14 cities across the U.S., and was made possible with a grant from the Urban Sustainability Directors Network and the Global Philanthropy Partnership. </p>

<p>We're working on the foundation of this service right now, so please check back again soon.</p>

    </div>

{% endblock %} {# content #}
