{% extends "layout-padded.html" %}

{% block title %}RentRocket.org: More details...{% endblock %}

{% block subcontent %}

<h2>The problem we're trying to solve.</h2>

<p>Most renters are not aware of the full costs of housing, including energy and other utilities, and transportation.  In many college towns, students dominate the rental population – most of whom have never lived on their own at the time they sign their first lease. While some resources exist to guide students when selecting a rental property, these resources rarely incorporate sustainability concerns such as energy use, water use, the availability of recycling services, or access to public transit or bike infrastructure.</p>

<p>This has two significant negative effects. First, it means that sustainability concerns are often not apparent until after the student has moved in, usually under a year lease. Second, it makes it difficult to communicate the value of sustainability to landlords because prospective tenants do not articulate it as a need. This is called the "<a href="https://www.google.com/search?q=split+incentive+problem" target="_newtab">Split Incentive Problem</a>."</p>

<p>We believe there is an opportunity to develop an online mobile-friendly tool that can serve multiple cities to share information on the full cost of housing and begin a stronger demand-side approach to energy efficiency and other investments that complement other policies implemented in each city.</p>

{% endblock %} {# content #}
