<div id="nav-wrap">

<ul class="nav">
<li class="nav-item">

<form action="/city/change" method="post">{% csrf_token %}
{{ form.choice }}
</form>

</li>

{% for item in items %}
<li class="nav-item">
  {% if item.0 %}
  <a href="{{item.0}}" class="nav-link">
  {% endif %}

  {{ item.1 }}

  {% if item.0 %}
  </a>
  {% endif %}

</li>
{% endfor %}

<li class="nav-item">
{% if user.is_authenticated %}
<a href="/logout/" class="nav-link">Log out</a>
{% else %}
<a href="/login/" class="nav-link">Log in</a> / <a href="{% url 'account_signup' %}" class="nav-link">Sign up</a>
{% endif %}
</li>

</ul>

</div>
