{% extends "layout-padded.html" %}

{% block title %}RentRocket.org: Partner With Us{% endblock %}

{% block subcontent %}
<h2>Partner With Us</h2>

<p>RentRocket is actively seeking a variety of partners.</p>

<p>Contact us about the following:</p>

<ul>
<li>If you are a city looking to bring RentRocket to your community</li>
<li>If you are a utility service provider interested in getting involved</li>
<li>If you are a non-profit, foundation or a corporation looking to work with RentRocket</li>
</ul>
  
<p>Email <a href="mailto:sustain@bloomington.in.gov">sustain@bloomington.in.gov</a> to get in touch.</p>


{% endblock %} {# content #}
