        {# include "building-new-form.html" with form=bldgform #}
        {{ bldgform.non_field_errors }}        

        {% include "field_snippet.html" with field=bldgform.address %}



        {% if bldgform.unit_select_visible %}
        {# include "building-new-unit_select.html" with form=unitform #}
        {% include "field_snippet.html" with field=unitform.unit_select %}
        {% include "field_snippet.html" with field=unitform.unit_text %}

        {% endif %}

        <div class="simple-widget centered">
          <span class="simple-half">
            This address {{ form.property_type }} a rental.
          </span>
          <span class="simple-half" data-bind="visible: show_rent()">
            The rent is: ${{ form.rent }}
            <span class="error">
              {{ form.rent.errors }}
            </span>
          </span>
        </div>

        {% include "field_snippet.html" with field=form.bedrooms %}

