{% extends "no_nav.html" %}

{% block title %}RentRocket.org: About{% endblock %}

{% block content %}

<div class="page">
<h1 class="centered">Energy Data Upload</h1>

<p>The <a href="https://bloomington.in.gov/documents/viewDocument.php?document_id=7405">Green Rental Housing Project</a> is a non-profit endeavor to help renters consider sustainability factors, such as energy efficiency, when choosing a rental property. Phase I of the project includes 14 cities (led by the City of Bloomington, IN) in the U.S. representing a population of 2.6MM.</p>

<p>Your assistance is essential in helping us collect energy data, which can help users compare costs and energy use for specific rental properties.</p>

<p><strong>Directions:</strong> In order to upload data for both Duke and Vectren, you will need to fill out this form twice. Once you've submitted your first form, simply refresh the page, fill out the form and upload your second set of data.</p> 


<iframe allowtransparency="true" src='http://www.formpl.us/form/0ByOuWnQO2oTRdUtmY0hUX0ZzZVk' frameborder="0" style="width:100%; height:1000px; border:none;" scrolling="no">
          </iframe>
</div>


{% endblock %} {# content #}
