{% extends "layout.html" %}

{% block title %}Rent Rocket: Utility Data{% endblock %}

{% block content %}


<div class="page">

Total items: {{ upload_q.count }}<br> 

{% for item in upload_q %}

<div class="upload">
<span class="result">{{ item.added }}</span>,
<span class="result"><a href="/content/blob/{{ item.blob_key|urlencode }}">statement</a></span>,
<span class="result">{{ item.building_address }}</span>,
<span class="result">{{ item.city_tag }}</span>,
<span class="result">{{ item.type }}</span>,
<span class="result">{{ item.vendor }}</span>,
<span class="result">{{ item.energy_sources }}</span>,
{% if item.user %}
<span class="result">{{ item.user.email }}</span>,
{% else %}
<span class="result">{{ item.person_email }}</span>,
{% endif %}
<span class="result">{{ item.move_in }}</span>,
<span class="result">{{ item.unit_details }}</span>,
</div>
<br>


{% endfor %}

</div>

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
  require(['main'], function(main) {});
</script>
{% endblock %}
