{% extends "layout.html" %}

{% block title %}Rent Rocket: Utility Data{% endblock %}

{% block content %}


<div class="page">

Total items: {{ upload_q.count }}<br> 

{% for item in upload_q %}

<div class="upload">
<span class="result">{{ item.added }}</span>,
<span class="result"><a href="/content/blob/{{ item.blob_key|urlencode }}">statement</a></span>,
<span class="result">{{ item.original_filename }}</span>,
<span class="result">{{ item.unit.full_address_with_link|safe }}</span>,
<span class="result">{{ item.unit.city.tag }}</span>,
<span class="result">{{ item.type }}</span>,
{% if item.provider %}
<span class="result">{{ item.provider.name }}</span>,
{% else %}
<span class="result">{{ item.vendor }}</span>,
{% endif %}

{% if item.user %}
<span class="result">{{ item.user.email }}</span>,
{% endif %}
</div>
<br>


{% endfor %}

</div>

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
  require(['main'], function(main) {});
</script>
{% endblock %}
