{% extends "layout-padded.html" %}

{% block title %}Rent Rocket: Upload Utility Data{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/css/building.css" type="text/css" media="screen" />
{% endblock %}

{% block subcontent %}

<div class="page">

<p>{{ results|safe }}</p>

<form enctype="multipart/form-data" method="post" action="{{ upload_url }}">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <h3>Upload Utility Data </h3>
      
  <div class="leftcolumn">
    
    <div>
      <p>
	{% if bldg %}
        {% include "building_summary.html" with building=bldg unit=unit %}
	{% endif %}
      </p>
    </div>

    <div>
      
      {% if unit.tag %}
      <a href="{% url 'utility.views.edit' city_tag=bldg.city.tag bldg_tag=bldg.tag unit_tag=unit.tag %}">
      {% else %}
      <a href="{% url 'utility.views.edit' city_tag=bldg.city.tag bldg_tag=bldg.tag %}">
      {% endif %}
      Prefer to manually add utility data from a bill?</a>
        
    </div>
      
  </div>


  <div class="rightcolumn">
    <div class="section">
      {% include "field_half.html" with field=meta.utility_type %}
      {% include "field_half.html" with field=meta.utility_provider %}

      <div data-bind="visible: other_company">
      {% include "field_half.html" with field=meta.company %}
      </div>
      
      {% include "field_half.html" with field=meta.file %}
      
      <div class="centered section">
        <input type="submit" class="btn btn-success" value="Upload" />
      </div>
      
    </div>

  </div>
  
</form>


</div>

{% endblock %} {# content #}


{% block require %}
{% endblock %} {# require #}

{% block script %}
<script type="text/javascript" src="/static/js/lib/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/lib/knockout-2.2.1.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.min.js"></script>

<script type="text/javascript">
var utility_providers = {{ providers|safe }};
var uploading = true;
</script>

<script type="text/javascript" src="/static/js/utility_generic.js"></script>


{% endblock %}
