{% extends "layout.html" %}

{% block title %}Rent Rocket: Share Utility Data{% endblock %}

{% block content %}

<div class="page">

<p>{{ results|safe }}</p>

<form action="{{ upload_url }}" method="POST">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <h3>Share Utility Data </h3>
      
  <div class="leftcolumn">
    
    <div>
      <p>
	{% if bldg %}
        {% include "building_summary.html" with building=bldg unit=unit %}
	{% endif %}
      </p>
    </div>

    <div>
      
      {% if unit.tag %}
      <a href="{% url 'utility.views.upload_simple' city_tag=bldg.city.tag bldg_tag=bldg.tag unit_tag=unit.tag %}">
      {% else %}
      <a href="{% url 'utility.views.upload_simple' city_tag=bldg.city.tag bldg_tag=bldg.tag %}">
      {% endif %}
      Prefer to upload a summary from your utility?</a>
        
    </div>
      
  </div>


  <div class="rightcolumn">
    <div class="section">
      {% include "field_half.html" with field=meta.utility_type %}
      {% include "field_half.html" with field=meta.utility_provider %}

      <div data-bind="visible: other_company">
      {% include "field_half.html" with field=meta.company %}
      </div>
      
      {% include "field_half.html" with field=meta.start_date %}
      {% include "field_half.html" with field=meta.end_date %}


      <div data-bind="visible: enable_units">
      {% include "field_half.html" with field=meta.unit_of_measurement %}
      </div>
      
    </div>

  </div>
  <div class="centered"></div>
    
  <div class="section">
    <div class="threecolumn">Statement Month:</div>
    <div class="threecolumn">Cost ($):</div>
    <div class="threecolumn">Specify Usage Amounts? <input type="checkbox" data-bind="checked: enable_units"></div>
    {{ utility.management_form }}
    {% for form in utility %}
    <div class="row">
      {% include "utility_row.html" with form=form %}
    </div>
    {% endfor %}
    
  </div>
  
  <div class="centered">
    <input type="submit" value="Save" />
  </div>
  
</form>


</div>

{% endblock %} {# content #}


{% block require %}
{% endblock %} {# require #}

{% block script %}
<script type="text/javascript" src="/static/js/lib/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/js/lib/knockout-2.2.1.js"></script>
<script type="text/javascript" src="/static/js/lib/moment.min.js"></script>

<script type="text/javascript">
var utility_providers = {{ providers|safe }};
</script>

<script type="text/javascript" src="/static/js/utility_generic.js"></script>


{% endblock %}
