{% extends "layout.html" %}

{% block title %}Rent Rocket: Map{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p>Welcome back, {{ user.username }}. <a href="logout">Log out.</a></p>
{% else %}
{#<p>Please <a href="login">log in</a> or <a href="{% url registration.views.register %}">sign up</a>. </p>#}
{% endif %}

<div class="page">

{{ result }}

</div>

{% endblock %} {# content #}
    
{% block script %}
<script type="text/javascript">
  require(['main'], function(main) {});
</script>
{% endblock %}
